*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.15;
}

body {
  margin: 0;
  background-color: #000722;
  color: white;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;
}
